/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require keyFrames
*= require_self
*/

/*
globle
*/
[help] {
	cursor:pointer;
}
#spinner {
	background-color:white;
	border:7px solid black;
    position: fixed;
	top: 0;
	left:0;
	bottom:0;
	right: 0;
	width:360px;
	height:180px;
	margin:auto;
}
#spinner .tiShi{
	position:absolute;
	right:0;
	top:0;
	width:180px;
	height:180px;
	line-height:180px;
	font-size:33px;
}
.borderBox {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.defaultPage {
	position:relative;
	padding:30px 30px 170px 30px;
	background-color:white;
	border-width:3px;
	border-style:outset;
	box-shadow: 0px 3px 7px #888888;
}
.conWidth {
	position:relative;
	width:960px;
	margin:0 auto;
}
.defaultBoxShadow {
	box-shadow: 3px 3px 7px #888888;
}
.h_100p {
	height:100%;
}
.floatLeft {
	float:left;
}
.floatRight {
	float:right;
}
.clearBoth {
	clear:both;
}
.separator {
	padding:0 11px;
}
.small {
	font-size:12px;
}
.normal {
	font-size:14px;
}
.large {
	font-size:16px;
}
.lightgray {
	color:lightgray;
}
.gray {
	color:gray;
}
.wrapper {
	position:relative;
	width:100%;
	height:100%;
}
.clearfix:after {
	content:"";
	display:block; 
	height:0; 
	visibility:hidden; 
	clear:both;
}
.moHu {
	color: transparent;
	text-shadow: 0 0 4px #f36;
}
.rotate {
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);	
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.miaoBian {
	color: #c00; 
	-webkit-text-stroke: 1px #000; 
}
.fuDiaoA {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 #374683;
}
.fuDiaoB {
	color: #737373;
	text-shadow: 0px 1px 0px #e5e5ee;
}
.tuBan {
	color: #222;
	text-shadow: 0px 2px 3px #555;
}
.liTi {
	color: #fff;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1),0 1px 3px rgba(0,0,0,0.3),0 3px 5px rgba(0,0,0,0.2),0 5px 10px rgba(0,0,0,0.25);
}

/*
main
*/
#main {
	min-height:100%;
	-moz-box-shadow: 0 0 1em black;
	-webkit-box-shadow: 0 0 1em black;
	        box-shadow: 0 0 1em black;
}
#main-wrapper {
	padding:30px 30px 120px 30px;
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/*
header
*/
#header-0 {
	height:50px;
}
#header-0 nav {
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	height: 38px;
	line-height:38px;
	color:white;
	1background: url("WangLuo/QiTa/header-bg-nav.png") 0px -38px repeat-x;
	background-color:black;
	z-index:999;
	box-shadow: 0 8px 9px #888888;
}
#header-0-timer {
	display:inline-block;
	height:100%;
}
#header-0 nav ul {
	position:absolute;
	top:0;
	right:0;
	list-style-type:none;
}
#header-0 nav li {
	float:left;
	width:100px;
	text-align:right;
}
#header-0 nav a {
	color:white;
}

/*
footer-0
*/
#footer-0 {
	position:relative;
	left:0;
	bottom:0;
	width:100%;
	color:black;
	text-align:center;
	padding:0 30px;
	font-size:14px;
}
#footer-0 nav {
	border-top:5px solid black;
	position:relative;
	height:38px;
	line-height:38px;
}
#footer-0 ul {
	list-style-type:none;
	margin:0 auto;
	text-align:center;
	display:inline-block;
}
#footer-0 ul li {
	float:left;
	text-align:right;
	height:100%;
	color: #222;
	text-shadow: 0px 1px 1px #555;
	-webkit-text-stroke: 1px #000;
	text-stroke: 1px #000;
}

/*
footer-1
*/
#footer-1 {
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:90px;
	color:black;
	text-align:center;
	padding:0 30px;
	font-size:14px;
}
#footer-1 nav {
	border-width:3px;
	border-style:outset;
	box-shadow: 0px 3px 7px #888888;
	position:relative;
	height:73px;
}
#footer-1 ul {
	list-style-type:none;
	margin:0 auto;
	text-align:center;
	display:inline-block;
	padding: 10px 0 0 0;
}
#footer-1 ul li {
	float:left;
	text-align:right;
	height:100%;
	color: black;
	text-shadow: 0px 1px 1px #555;
	-webkit-text-stroke: 1px #000;
	text-stroke: 1px #000;
	height:25px;
	line-height:25px;
}
#footer-1 .rightHand {
	position:absolute;
	right:-134px;
	bottom:0;
}
#footer-1 .leftHand {
	position:absolute;
	left:-122px;
	bottom:0;
}
#footer-1 a {
	color:black;
	-webkit-text-stroke: 1px #000;
	text-stroke: 1px #000;
}

/*
logo-0
*/
#logo-0 {
	position:relative;
	height:170px;
	margin:15px 30px 0 30px;
	border-bottom: 5px solid black;
}
#logo-0 .tank {
	position:absolute;
	left:0;
	top:0;
	height:170px;
	width:274px;
}
#logo-0 .tank:hover {
	1animation:logoZaiXingDong 2s ease;
	1-moz-animation:logoZaiXingDong 2s ease; /* Firefox */
	1-webkit-animation:logoZaiXingDong 2s ease; /* Safari and Chrome */
	1-o-animation:logoZaiXingDong 2s ease; /* Opera */
}
#logo-0 ul {
	list-style-type:none;
	position:relative;
	width:40%;
	height:100%;
	padding:1px 0 0 30px;
	margin-left:auto;
}
#logo-0 h1 {
	font-weight:bold;
	font-size:46px;
	text-align:center;
	text-shadow: 0px 2px 3px #555;
	letter-spacing:5px;
	color: white; 
	-webkit-text-stroke: 1px #000;
	text-stroke: 1px #000;
}
#logo-0 h3 {
	font-weight:normal;
	font-size:20px;
	text-align:center;
	color: white;
	text-shadow: 0px 2px 3px #555;
	-webkit-text-stroke: 1px #000;
	text-stroke: 1px #000;
}

/*
logo-1
*/
#logo-1 {
	position:relative;
	height:183px;
	margin:15px 30px 0 30px;
	border-width:3px;
	border-style:outset;
	box-shadow: 0px 3px 7px #888888;
}
#logo-1 .tank {
	position:absolute;
	left:0;
	top:0;
	height:170px;
	width:auto;
}
#logo-1 .tank:hover {
	animation:logoZaiXingDong 7s ease;
	-moz-animation:logoZaiXingDong 7s ease; /* Firefox */
	-webkit-animation:logoZaiXingDong 7s ease; /* Safari and Chrome */
	-o-animation:logoZaiXingDong 7s ease; /* Opera */
}
#logo-1 ul {
	list-style-type:none;
	position:relative;
	width:50%;
	height:100%;
	padding:1px 0 0 0;
	margin-left:auto;
}
#logo-1 li {
	position:relative;
}
#logo-1 h1 {
	font-weight:bold;
	font-size:60px;
	text-align:center;
	text-shadow: 0px 2px 3px #555;
	letter-spacing:5px;
	color: white; 
	-webkit-text-stroke: 1px #000;
	text-stroke: 1px #000;
	margin-top:26px;
	margin-bottom:7px;
}
#logo-1 h3 {
	font-weight:normal;
	font-size:20px;
	text-align:center;
	color: white;
	text-shadow: 0px 2px 3px #555;
	-webkit-text-stroke: 1px #000;
	text-stroke: 1px #000;
}
#logo-1 .hidden {
	position:absolute;
	left:0;
	top:0;
	width:270px;
	height:170px;
	text-align:center;
	line-height:170px;
	font-size:31px;
}
#logo-1 .haha {
	position:absolute;
	left:24px;
	top:40px;
	font-size:15px;
	font-weight:bold;
}

/*
transition-0
*/
#transition-0 {
	height:90px;
	border-bottom:3px ridge lightgray;
	margin-bottom:15px;
}
#transition-0 .meinv {
	position:absolute;
	left:257px;
	top:-183px;
}

/*
transition-1
*/
#transition-1 {
	height:90px;
	border-bottom:3px ridge lightgray;
	margin-bottom:15px;
}
#transition-1 .xiongYing {
	position:absolute;
	left:300px;
	top:-133px;
}

/*
plugin-yongHuIP
*/
#yongHuIP ul {
	list-style-type:none;
}
#yongHuIP ul li {
	height:25px;
}
#yongHuIP ul li:first-child {
	font-weight:bold;
	margin-bottom:5px;
}

/*
plugin-qianZhiShengMing
*/
#qianZhiShengMing ul {
	list-style-type:none;
	color:black;
}
#transition-0 ul strong {
	color:black;
}
#transition-0 ul li {
	height:25px;
}

/*
plugin-kaTong
*/
#kaTong {
	width:200px;
	height:125px;
	margin:0 auto;
}
#kaTong .zhuangShi {
	position:absolute;
	left:100px;
	top:0;
	height:100px;
	width:auto;
}
#kaTong .dialog {
	position:absolute;left:61px;top:3px;display:none;
}
#kaTong .hanHua {
	position:absolute;left:21px;top:13px;font-weight:bold;
}

/*
page-yongQianBiDu
*/
#yongQianBiDu {
	
}
#yongQianBiDu h3 {
	margin-bottom:25px;
	font-size:24px;
	font-weight:bold;
}
#yongQianBiDu li {
	line-height:23px;
	margin-bottom:30px;
}
#yongQianBiDu .biaoTi {
	margin:47px 0 25px 0;
}
#yongQianBiDu .lianXiFangShi {
	margin-left:40px;
	margin-bottom:30px;
	list-style-type:decimal;
	
}
#yongQianBiDu .tuZhang {
	float:right;
	font-weight:bold;
	text-align:right;
	font-size:15px;
	padding:7px;
	border:3px ridge lightgray;
	-webkit-transform: rotate(-30deg); 
	-moz-transform: rotate(-30deg);	
	-o-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	transform: rotate(-30deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
#yongQianBiDu h1 {
	font-size:51px;
	margin-bottom:47px;
	color:black;
	text-align:center;
	font-weight:bold;
}
#yongQianBiDu .key {
	margin-left:10px;
}

/*
page-lianXiFangShi
*/
#lianXiFangShi {

}
#lianXiFangShi li {
	line-height:23px;
	margin-bottom:15px;
}
#lianXiFangShi .xiangQing {
	margin:0 0 71px 0;
	list-style-type:none;
	position:relative;
	border:3px ridge lightgray;
	min-height:180px;
	padding:15px;
}
#lianXiFangShi .zhuangTai {
	margin-bottom:0;
}
#lianXiFangShi .zhuangTai .xianZai {
	font-size:21px;
}
#lianXiFangShi .touXiang {
	position:absolute;
	right:30px;
	top:30px;
	margin:0;
}
#lianXiFangShi .tuZhang {
	float:right;
	font-weight:bold;
	text-align:right;
	font-size:15px;
	padding:7px;
	border:3px ridge lightgray;
	-webkit-transform: rotate(-23deg); 
	-moz-transform: rotate(-23deg);	
	-o-transform: rotate(-23deg);
	-ms-transform: rotate(-23deg);
	transform: rotate(-23deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
#lianXiFangShi h1 {
	font-size:51px;
	margin-bottom:47px;
	color:black;
	text-align:center;
	font-weight:bold;
}

/*
page-wangZhanXiangGuan
*/
#wangZhanXiangGuan {

}
#wangZhanXiangGuan .xiangQing {
	margin:0 0 71px 0;
	list-style-type:none;
	position:relative;
}
#wangZhanXiangGuan .tuZhang {
	float:right;
	font-weight:bold;
	text-align:right;
	font-size:15px;
	padding:7px;
	border:3px ridge lightgray;
	-webkit-transform: rotate(-30deg); 
	-moz-transform: rotate(-30deg);	
	-o-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	transform: rotate(-30deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
#wangZhanXiangGuan h1 {
	font-size:51px;
	margin-bottom:47px;
	color:black;
	text-align:center;
	font-weight:bold;
}
#wangZhanXiangGuan ul {
	margin:0 0 71px 0;
	list-style-type:none;
	position:relative;
}
#wangZhanXiangGuan li {
	line-height:41px;
	margin-bottom:91px;
}
#wangZhanXiangGuan ol li {
	line-height:44px;
	margin-bottom:0;
}
#wangZhanXiangGuan .renWu {
	position:absolute;
	right:129px;
	top:171px;
	margin-top:90px;
}
#wangZhanXiangGuan strong {
	font-size:21px;
}
#wangZhanXiangGuan h3 {
	font-size:24px;
	font-weight:bold;
	margin-bottom:21px;
}
#wangZhanXiangGuan p {
	font-size:16px;
}

/*
page-jianYiFanKui
*/
#jianYiFanKui {

}
#jianYiFanKui .xiangQing {
	margin:0 0 71px 0;
	list-style-type:none;
	position:relative;
}
#jianYiFanKui .tuZhang {
	float:right;
	font-weight:bold;
	text-align:right;
	font-size:15px;
	padding:7px;
	border:3px ridge lightgray;
	-webkit-transform: rotate(-30deg); 
	-moz-transform: rotate(-30deg);	
	-o-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	transform: rotate(-30deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
#jianYiFanKui h1 {
	font-size:51px;
	margin-bottom:47px;
	color:black;
	text-align:center;
	font-weight:bold;
}
#jianYiFanKui ul {
	margin:0 0 121px 0;
	list-style-type:none;
	position:relative;
}
#jianYiFanKui li {
	line-height:45px;
	margin-bottom:30px;
}
#jianYiFanKui h3 {
	font-size:24px;
	font-weight:bold;
	margin-bottom:21px;
}
#jianYiFanKui .textarea {
	width:100%;
	min-height:370px;
	line-height:30px;
	font-size:16px;
	color:darkred;
}
#jianYiFanKui .submit {
	font-size:16px;
	padding:10px 61px;
	position:absolute;
	right:0;
	bottom:0;
	background-color:#333;
	color:lavender;
	font-weight:bold;
}
#jianYiFanKui .submit:hover {
	cursor:pointer;
	color:white;
}
#jianYiFanKui .status {
	line-height:34px;
	height:40px;
	width:77%;
	padding-left:10px;
	color:black;
	font-size:14px;
	text-align:left;
	border:3px ridge lightgray;
}
#jianYiFanKui p {
	font-size:16px;
}

/*yonghu-ziliao-0*/
#yonghu-ziliao-0 {
	position:relative;
	width:100%;
	padding:90px 50px 90px 50px;
}
#yonghu-ziliao-0 .main {
	border:7px solid black;
	box-shadow: 0px 3px 7px #888888;
}
#yonghu-ziliao-0 .right {
	position:absolute;
	right:0;
	top:0;
	width:370px;
	height:520px;
	margin-left:auto;
	background-image:url("WangLuo/TouXiang/kongjian/卡牌背景.png");
	background-repeat:no-repeat;
	background-size:370px 520px;
	background-position:0 0;
}
#yonghu-ziliao-0 .right img {
	display:block;
	width:180px;
	height:180px;
	margin:0 auto 0 auto;
	position:relative;
	top:100px;
	left:0;
}
#yonghu-ziliao-0 .right .dengji {
	position:absolute;
	left:132px;
	top:60px;
	width:170px;
	color:black;
	font-size:16px;
	text-align:right;
}
#yonghu-ziliao-0 .right .shuoshuo {
	position:absolute;
	left:80px;
	top:290px;
	color:black;
	font-size:16px;
	text-align:justify;
	border-top:5px solid black;
	width:219px;
	height:160px;
	padding:15px 15px 0 15px;
	line-height:27px;
}
#yonghu-ziliao-0 .left {
	position:relative;
	height:520px;
	margin-right:370px;
	padding:50px;
}
#yonghu-ziliao-0 .left ul {
	list-style-type:none;
}
#yonghu-ziliao-0 .left ul li {
	line-height:33px;
}
#yonghu-ziliao-0 .ignore {
	color:lightgray;
}

#helper-0 {
	position:fixed;
	left:0;
	top:0;
	width:300px;
	height:100px;
	line-height:100px;
	text-align:center;
	font-size:16px;
	background-color:white;
	border:7px solid black;
}

/*---------------------------------------------------------------------------------------------------------------------*/

/*
page-yonghu-kongjian-0
*/
#yonghu-kongjian-0 {
	
}
#yonghu-kongjian-0 .touXiangQv {
	position:absolute;
	left:0px;
	top:0px;
	width:234px;
	height:100%;
	border-right: 3px ridge lightgray;
	margin:0;
	text-align:left;
}
#yonghu-kongjian-0 .touXiang {
	width:180px;
	height:180px;
	margin:0 auto;
	display:block;
}
#yonghu-kongjian-0 .touXiangQv h3 {
	font-size:24px;
	font-weight:bold;
	display:block;
	margin-top:15px;
	padding:0 15px;
}
#yonghu-kongjian-0 .touXiangQv h4 {
	display:block;
	padding:0 15px;
	margin-top:5px;
}
#yonghu-kongjian-0 .main-ul {
	position:relative;
	list-style-type:none;
	padding-left:234px;
	width:600px;
	min-height:255px;
	border-bottom: 3px ridge lightgray;
}
#yonghu-kongjian-0 .main-li {
	float:left;
	width:100px;
	height:100px;
	margin:10px;
}
#yonghu-kongjian-0 .main-li .aList {
	width:100px;
	height:100px;
	display:block;
}
#yonghu-kongjian-0 .aMain {
	display:block;
	text-decoration: none;
	color:black;
	height:100%;
}
#yonghu-kongjian-0 .main-li:hover, #yonghu-kongjian-0 .touXiangQv:hover {
	cursor:pointer;
	box-shadow: 3px 3px 7px #888888;
}
#yonghu-kongjian-0-wrapper {
	padding:30px;
	min-height:300px;
}
#yonghu-kongjian-0-wrapper-h1 {
	font-size:27px;
	font-weight:bold;
	text-align:center;
	margin-top:161px;
	margin-bottom:30px;
}

/*yonghu-ziliao-1*/
#yonghu-ziliao-1 {
	position:relative;
	width:100%;
	margin-top:30px;
}
#yonghu-ziliao-1 img {
	width:256px;
	height:256px;
	position:absolute;
	right:0;
	top:0;
}
#yonghu-ziliao-1 ul {
	list-style-type:none;
	margin-right:256px;
	min-height:256px;
	padding:15px;
	font-size:15px;
}
#yonghu-ziliao-1 li {
	line-height:30px;
}
#yonghu-ziliao-1 li .ignore {
	line-height:30px;
	color:lightgray;
}
#yonghu-ziliao-1 h1 {
	font-size:70px;
	font-weight:bold;
	text-align:center;
	margin-bottom:50px;
	margin-top:0px;
}

/*
page-zhuYe
*/
#zhuYe {
	
}

/*
page-geRenKongJian
*/
#geRenKongJian {
	
}

.test {
	transform:rotateY(1deg);
	-webkit-transform:rotateY(1deg); /* Safari and Chrome */
	-moz-transform:rotateY(1deg); /* Firefox */
	
	transition: transform 2s;
	-moz-transition: -moz-transform 2s;	/* Firefox 4 */
	-webkit-transition: -webkit-transform 2s;	/* Safari 和 Chrome */
	
	
	background-repeat:no-repeat;
	background-size:256px 256px;
	background-position:0 0;
}

/*
section-gengXin-index
*/
#gengXin-index ul {
	list-style-type:none;
}
#gengXin-index ul li {
	padding:15px 0;
	border-bottom: 1px solid lightgray;
	font-size:16px;
	margin-bottom:15px;
}