/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require keyFrames
*= require_self
*/

/*
globle
*/
[help] {
	cursor:pointer;
}
.leftToRight, .rightToLeft {
	display:block;
	position:absolute;
}
.leftToRight:hover {
	animation:leftToRight 7s ease;
	-moz-animation:leftToRight 7s ease; /* Firefox */
	-webkit-animation:leftToRight 7s ease; /* Safari and Chrome */
	-o-animation:leftToRight 7s ease; /* Opera */
}
.rightToLeft:hover {
	animation:rightToLeft 7s ease;
	-moz-animation:rightToLeft 7s ease; /* Firefox */
	-webkit-animation:rightToLeft 7s ease; /* Safari and Chrome */
	-o-animation:rightToLeft 7s ease; /* Opera */
}
#spinner {
	background-color:white;
	border:7px solid black;
    position: fixed;
	top: 0;
	left:0;
	bottom:0;
	right: 0;
	width:360px;
	height:180px;
	margin:auto;
	z-index:1000;
}
#spinner .tiShi{
	position:absolute;
	right:0;
	top:0;
	width:180px;
	height:180px;
	line-height:180px;
	font-size:32px;
}
.borderBox {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.textAlignLeft {
	text-align:left !important;
}
.textAlignRight {
	text-align:right !important;
}
.defaultPage {
	position:relative;
	padding:30px;
	box-shadow: 0 0 30px #333;
}
.conWidth {
	position:relative;
	width:960px;
	margin:0 auto;
}
.defaultBoxShadow {
	box-shadow: 3px 3px 7px #888888;
}
.h_100p {
	height:100%;
}
.floatLeft {
	float:left;
}
.floatRight {
	float:right;
}
.clearBoth {
	clear:both;
}
.separator {
	padding:0 11px;
}
.small {
	font-size:12px;
}
.normal {
	font-size:14px;
}
.large {
	font-size:16px;
}
.lightgray {
	color:lightgray;
}
.gray {
	color:gray;
}
.wrapper {
	position:relative;
	width:100%;
	height:100%;
}
.clearfix:after {
	content:"";
	display:block; 
	height:0; 
	visibility:hidden; 
	clear:both;
}
.moHu {
	color: transparent;
	text-shadow: 0 0 4px #f36;
}
.rotate {
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);	
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.miaoBian {
	color: #c00; 
}
.fuDiaoA {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 #374683;
}
.fuDiaoB {
	color: #737373;
	text-shadow: 0px 1px 0px #e5e5ee;
}
.tuBan {
	color: #222;
	text-shadow: 0px 2px 3px #555;
}
.liTi {
	color: #fff;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1),0 1px 3px rgba(0,0,0,0.3),0 3px 5px rgba(0,0,0,0.2),0 5px 10px rgba(0,0,0,0.25);
}

/*
main
*/
#main {
	min-height:100%;
}
#main-wrapper {
	padding:0 0 100px 0;
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/*
header
*/
#header-0 {
	height:40px;
}
#header-0 nav {
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	height: 40px;
	line-height:40px;
	color:#fff;
	background-color:#435766;
	box-shadow: 0 0 30px #333;
	text-align: center;
	font-weight: 700;
	font-size:14px;
	z-index:999;
}
#header-0 ol {
	position:absolute;
	top:0;
	right:0;
	display:inline-block;
	height:100%;
	list-style-type:none;
}
#header-0 ol li {
	float:right;
	width:110px;
	text-align:center;
	position:relative;
	height:100%;
}
#header-0 nav ul {
	list-style-type:none;
}
#header-0 nav li {
	float:left;
	width:100px;
	text-align:center;
	position:relative;
	height:100%;
}
#header-0 nav a {
	color:white;	
}
#header-0 .wrapperBox:hover {
	background-color:white;
	color:#333;
}
#header-0 .wrapperBox .link {
	display:block;
	border-left:1px solid #435766;
	border-right:1px solid #435766;
	text-align: center;
	font-weight: 700;
}
#header-0 .hiddenBox {
	position:absolute;
	border-bottom:1px solid #435766;
	border-left:1px solid #435766;
	border-right:1px solid #435766;
	z-index:999;
	text-align:left;
	font-size:12px;
	background-color:white;
	color:#333;
}
#header-0 .hiddenBox:after {
	content:"";
	display:block;
	position:absolute;
	left:-150px;
	top:0;
	width:150px; 
	height:500px;
}
#header-0 .normalBox {
	left:0px;
	bottom:-300px;
	width:400px;
	height:300px;
	padding:30px 50px;
}
#header-0 .largeBox {
	left:0px;
	bottom:-500px;
	width:500px;
	height:500px;
	padding:30px 50px;
}
#header-0 .customBox {
	left:0px;
	bottom:-500px;
	width:700px;
	height:500px;
	padding:30px 350px 30px 50px;
}
#header-0 .touXiangKongJian {
	position:absolute;
	right:50px;
	top:30px;
	width:256px;
	height:auto;
}
#header-0 .hiddenBox form {
	position:relative;
	height:100%;
	width:100%;
}
#header-0 .hiddenBox .xmessage {
	margin-bottom:0;
}
#header-0 .hiddenBox [type=text], #header-0 .hiddenBox [type=password], #header-0 .hiddenBox [type=email]{
	width:100%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	border:1px solid lightgray;
	text-align:left;
	margin-bottom:10px;
	padding-left:10px;
}
#header-0 .hiddenBox .youQingTiShi {
	position:absolute;
	left:0;
	bottom:0;
	line-height:20px;
	color:lightgray;
}
#header-0 .hiddenBox .youQingTiShi h3 {
	margin-bottom:10px;
}
#header-0 .hiddenBox .youQingTiShi p {
	
}

#header-0 .hiddenBox select {
	padding-left:10px;
	margin-bottom: 10px;
}
#header-0 .hiddenBox [type=submit]{
	cursor:pointer;
	padding:5px 15px;
	margin:10px 0 0 0;
	font-weight:bold;
	font-size:14px;
}
#header-0 .hiddenBox [type=submit]:hover{
	color: black;
	   -moz-box-shadow: 0 0 1em #b2d1ff;
	-webkit-box-shadow: 0 0 1em #b2d1ff;
	        box-shadow: 0 0 1em #b2d1ff;
}
#header-0 .hiddenBox .touXiangKongJian form {
	position:relative;
}
#header-0 .hiddenBox .touXiangKongJian [type=file] {
	position:absolute;
	left:0;
	top:0;
	width:256px;
	height:30px;
	padding:0;
	margin:0;
	opacity:0.0;
	filter:Alpha(opacity=0);
	cursor:pointer;
}
#header-0 .hiddenBox .touXiangKongJian .preview, #header-0 .hiddenBox .touXiangKongJian .shangChuan {
	display:block;
	width:256px;
	height:30px;
	line-height:30px;
	text-align:center;
	padding:0;
	margin:0 0 11px 0;
	font-size: 1em;
	border: 1px solid #cccccc;
}
#header-0 .hiddenBox .touXiangKongJian .preview {
	background-color: ghostwhite;
}
#header-0 .hiddenBox .touXiangKongJian .shangChuan {
	background-color: ghostwhite;
}
#touXiangWrapper {
	width:256px;
	height:256px;
	margin-bottom:10px;
}

/*
footer-1
*/
#footer-1 {
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	text-align:center;
}
#footer-1 nav {
	position:relative;
	height:70px;
}
#footer-1 ul {
	list-style-type:none;
	margin:0 auto;
	text-align:center;
	display:inline-block;
	padding: 11px 0 0 0;
}
#footer-1 ul li {
	float:left;
	text-align:right;
	height:100%;
	height:25px;
	line-height:25px;
}
#footer-1 .rightHand {
	position:absolute;
	right:-132px;
	bottom:0;
}
#footer-1 .leftHand {
	position:absolute;
	left:-123px;
	bottom:0;
}
#footer-1 a {
	color:#333;
}

/*
logo-0
*/
#logo-0 {
	position:relative;
	height:170px;
	margin:15px 30px 0 30px;
	border-bottom: 5px solid black;
}
#logo-0 .tank {
	position:absolute;
	left:0;
	top:0;
	height:170px;
	width:274px;
}
#logo-0 .tank:hover {
	animation:logoZaiXingDong 7s ease;
	-moz-animation:logoZaiXingDong 7s ease; /* Firefox */
	-webkit-animation:logoZaiXingDong 7s ease; /* Safari and Chrome */
	-o-animation:logoZaiXingDong 7s ease; /* Opera */
}
#logo-0 ul {
	list-style-type:none;
	position:relative;
	width:40%;
	height:100%;
	padding:1px 0 0 30px;
	margin-left:auto;
}
#logo-0 h1 {
	font-weight:bold;
	font-size:46px;
	text-align:center;
	letter-spacing:5px;
	color: white;
}
#logo-0 h3 {
	font-weight:normal;
	font-size:20px;
	text-align:center;
	color: white;
}

/*
logo-1
*/
#logo-1 {
	position:relative;
	height:183px;
	margin:15px 30px 0 30px;
	border-width:3px;
	border-style:outset;
	box-shadow: 0px 3px 6px #888888;
}
#logo-1 .tank {
	position:absolute;
	left:0;
	top:0;
	height:170px;
	width:auto;
}
#logo-1 .tank:hover {
	animation:logoZaiXingDong 7s ease;
	-moz-animation:logoZaiXingDong 7s ease; /* Firefox */
	-webkit-animation:logoZaiXingDong 7s ease; /* Safari and Chrome */
	-o-animation:logoZaiXingDong 7s ease; /* Opera */
}
#logo-1 ul {
	list-style-type:none;
	position:relative;
	width:50%;
	height:100%;
	padding:1px 0 0 0;
	margin-left:auto;
}
#logo-1 li {
	position:relative;
}
#logo-1 h1 a {
	text-decoration:none;
	color: black;
}
#logo-1 h1 {
	font-weight:bold;
	font-size:72px;
	text-align:center;
	letter-spacing:5px;
	color: black;
	margin-top:27px;
	margin-bottom:12px;
}
#logo-1 h3 {
	font-weight:normal;
	font-size:20px;
	text-align:center;
	color: black;
}
#logo-1 .hidden {
	position:absolute;
	left:0;
	top:50px;
	width:270px;
	text-align:center;
	font-size:32px;
}
#logo-1 .haha {
	position:absolute;
	left:25px;
	top:48px;
	font-size:16px;
	display:inline-block;
}

/*
logo-2
*/
#logo-2 {
	position:relative;
	height:183px;
	margin:10px 0 10px 0;
}
#logo-2 .tank {
	position:absolute;
	left:0;
	top:0;
	height:170px;
	width:auto;
}
#logo-2 .tank:hover {
	
}
#logo-2 ul {
	list-style-type:none;
	position:relative;
	width:43%;
	height:100%;
	padding:1px 0 0 0;
	margin-left:auto;
}
#logo-2 li {
	position:relative;
}
#logo-2 h1 a {
	text-decoration:none;
	color: black;
}
#logo-2 h1 {
	font-weight:bold;
	font-size:66px;
	text-align:center;
	letter-spacing:5px;
	color: black;
	margin-top:36px;
	margin-bottom:12px;
}
#logo-2 h3 {
	font-weight:normal;
	font-size:18px;
	text-align:center;
	color: black;
}

/*
plugin-yongHuIP
*/
#yongHuIP ul {
	list-style-type:none;
	text-align:left;
	padding:10px;
}
#yongHuIP ul li {
	height:25px;
}
#yongHuIP ul li:first-child {
	margin-bottom:5px;
}

/*
plugin-qianZhiShengMing
*/
#qianZhiShengMing ul {
	list-style-type:none;
}
#transition-0 ul li {
	height:25px;
}

/*
plugin-kaTong
*/
#kaTong {
	width:200px;
	height:125px;
	margin:0 auto;
}
#kaTong .zhuangShi {
	position:absolute;
	left:109px;
	top:0;
	height:100px;
	width:auto;
}
#kaTong .dialog {
	position:absolute;left:61px;top:3px;display:none;
}
#kaTong .hanHua {
	position:absolute;left:21px;top:10px;font-weight:bold;
}

/*
plugin-shengXiao
*/
#shengXiao {
	position:relative;
	width:210px;
	height:180px;
}
#shengXiao-wrapper {
	position:relative;
	width:150px;
	height:150px;
	line-height:150px;
	text-align:center;
	font-size:12px;
}
#shengXiao .wenHao {
	font-size:110px;
	font-weight:700;
}
#shengXiao .shengXiao {
	background-image: url("WangLuo/SuCai/十二生肖.png");
	width:150px;
	height:150px;
}
#shengXiao .zhongWen {
	position:absolute;
	right:-40px;
	top:0;
	font-weight:bold;
	font-size:30px;
	display:block;
}
#shengXiao .shengXiao.shu {
	background-position:0 0;
}
#shengXiao .shengXiao.niu {
	background-position:-150px 0;
}
#shengXiao .shengXiao.hu {
	background-position:-300px 0;
}
#shengXiao .shengXiao.tu {
	background-position:-450px 0;
}
#shengXiao .shengXiao.long {
	background-position:0 -150px;
}
#shengXiao .shengXiao.she {
	background-position:-150px -150px;
}
#shengXiao .shengXiao.ma {
	background-position:-300px -150px;
}
#shengXiao .shengXiao.yang {
	background-position:-450px -150px;
}
#shengXiao .shengXiao.hou {
	background-position:0 -300px;
}
#shengXiao .shengXiao.ji {
	background-position:-150px -300px;
}
#shengXiao .shengXiao.gou {
	background-position:-300px -300px;
}
#shengXiao .shengXiao.zhu {
	background-position:-450px -300px;
}

/*
page-yongQianBiDu
*/
#yongQianBiDu {
	padding-bottom:90px;
}
#yongQianBiDu h3 {
	margin-bottom:25px;
	font-size:32px;
	font-weight:bold;
}
#yongQianBiDu li {
	line-height:2;
	margin-bottom:15px;
}
#yongQianBiDu .biaoTi {
	margin:47px 0 25px 0;
}
#yongQianBiDu .lianXiFangShi {
	margin-left:40px;
	margin-bottom:30px;
	list-style-type:decimal;
	
}
#yongQianBiDu .tuZhang {
	float:right;
	font-weight:bold;
	text-align:right;
	font-size:16px;
	padding:7px;
	border:1px ridge lightgray;
	box-shadow: 1px 1px 3px #333 inset;
	-webkit-transform: rotate(-30deg); 
	-moz-transform: rotate(-30deg);	
	-o-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	transform: rotate(-30deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
#yongQianBiDu h1 {
	font-size:52px;
	margin-bottom:30px;
	text-align:center;
	font-weight:bold;
}
#yongQianBiDu .key {
	margin-left:10px;
}

/*
page-lianXiFangShi
*/
#lianXiFangShi {
	padding-bottom:170px;
}
#lianXiFangShi li {
	line-height:23px;
	margin-bottom:10px;
}
#lianXiFangShi .leibie {
	padding-right:7px;
}
#lianXiFangShi .xiangQing {
	margin:0 0 30px 0;
	list-style-type:none;
	position:relative;
	border-bottom: 1px dashed #dcdfe2;
	min-height:180px;
	padding:15px;
	letter-spacing: 2px;
}
#lianXiFangShi .zhuangTai {
	margin-bottom:0;
}
#lianXiFangShi .zhuangTai .xianZai {
	font-size:20px;
}
#lianXiFangShi .touXiang {
	position:absolute;
	right:15px;
	top:15px;
	margin:0;
}
#lianXiFangShi .tuZhang {
	float:right;
	position:relative;
	right:0;
	bottom:-70px;
	font-weight:bold;
	text-align:right;
	font-size:16px;
	padding:7px;
	border: 1px solid lightgray;
	box-shadow: 1px 1px 3px #333 inset;
	-webkit-transform: rotate(-30deg); 
	-moz-transform: rotate(-30deg);	
	-o-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	transform: rotate(-30deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
#lianXiFangShi h1 {
	font-size:52px;
	margin-bottom:42px;
	text-align:center;
	font-weight:bold;
}

/*
page-wangZhanXiangGuan
*/
#wangZhanXiangGuan {
	padding-bottom:90px;
}
#wangZhanXiangGuan .xiangQing {
	margin:0 0 71px 0;
	list-style-type:none;
	position:relative;
}
#wangZhanXiangGuan .tuZhang {
	float:right;
	font-weight:bold;
	text-align:right;
	font-size:16px;
	padding:7px;
	border: 1px solid lightgray;
	box-shadow: 1px 1px 3px #333 inset;
	-webkit-transform: rotate(-30deg); 
	-moz-transform: rotate(-30deg);	
	-o-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	transform: rotate(-30deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
#wangZhanXiangGuan h1 {
	font-size:52px;
	margin-bottom:30px;
	text-align:center;
	font-weight:bold;
}
#wangZhanXiangGuan ul {
	margin:0 0 71px 0;
	list-style-type:none;
	position:relative;
}
#wangZhanXiangGuan li {
	line-height:41px;
	margin-bottom:91px;
}
#wangZhanXiangGuan ol li {
	line-height:44px;
	margin-bottom:0;
}
#wangZhanXiangGuan .renWu {
	position:absolute;
	right:129px;
	top:171px;
	margin-top:90px;
}
#wangZhanXiangGuan strong {
	font-size:20px;
}
#wangZhanXiangGuan h3 {
	font-size:32px;
	font-weight:bold;
	margin-bottom:21px;
}

/*
page-jianYiFanKui
*/
#jianYiFanKui {
	padding-bottom:90px;
}
#jianYiFanKui .xiangQing {
	margin:0 0 71px 0;
	list-style-type:none;
	position:relative;
}
#jianYiFanKui .tuZhang {
	float:right;
	font-weight:bold;
	text-align:right;
	font-size:16px;
	padding:7px;
	border: 1px solid lightgray;
	box-shadow: 1px 1px 3px #333 inset;
	-webkit-transform: rotate(-30deg); 
	-moz-transform: rotate(-30deg);	
	-o-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	transform: rotate(-30deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
#jianYiFanKui h1 {
	font-size:52px;
	margin-bottom:30px;
	text-align:center;
	font-weight:bold;
}
#jianYiFanKui ul {
	margin:0 0 121px 0;
	list-style-type:none;
	position:relative;
}
#jianYiFanKui li {
	line-height:45px;
	margin-bottom:30px;
}
#jianYiFanKui h3 {
	font-size:32px;
	font-weight:bold;
	margin-bottom:21px;
}
#jianYiFanKui .textarea {
	width:100%;
	min-height:370px;
	line-height:30px;
	font-size:16px;
	color:darkred;
}
#jianYiFanKui .submit {
	padding:10px 61px;
	position:absolute;
	right:0;
	bottom:0;
	background-color:black;
	color:lavender;
}
#jianYiFanKui .submit:hover {
	cursor:pointer;
	color:white;
}
#jianYiFanKui .status {
	line-height:34px;
	height:40px;
	width:77%;
	padding-left:10px;
	text-align:left;
	border:3px ridge lightgray;
}

#helper-0 {
	position:fixed;
	left:0;
	top:0;
	width:300px;
	height:100px;
	text-align:left;
	font-size:16px;
	background-color:white;
	border:7px solid black;
	z-index:999;
	padding:15px;
}

/*---------------------------------------------------------------------------------------------------------------------*/

/*
page-yonghu-kongjian-0
*/
#yonghu-kongjian-0 {
	
}
#yonghu-kongjian-0 .touXiangQv {
	position:absolute;
	left:0px;
	top:0px;
	min-width:250px;
	height:100%;
	border-right: 3px ridge lightgray;
	margin:0;
	text-align:left;
}
#yonghu-kongjian-0 .touXiang {
	width:180px;
	height:180px;
	margin:0 auto;
	display:block;
	padding-top:25px;
}
#yonghu-kongjian-0 .touXiangQv h3 {
	font-size:32px;
	font-weight:bold;
	display:block;
	margin-top:8px;
	padding:0 15px;
}
#yonghu-kongjian-0 .touXiangQv h4 {
	display:block;
	padding:0 15px 0 18px;
	margin-top:5px;
	font-weight:normal;
}
#yonghu-kongjian-0 .main-ul {
	position:relative;
	list-style-type:none;
	padding-left:250px;
	width:100%;
	min-height:290px;
	border-bottom: 3px ridge lightgray;
}
#yonghu-kongjian-0 .main-li {
	float:left;
	width:100px;
	height:100px;
	margin:15px;
}
#yonghu-kongjian-0 .main-li .aList {
	width:100px;
	height:100px;
	display:block;
}
#yonghu-kongjian-0 .aMain {
	display:block;
	text-decoration: none;
	height:100%;
}
#yonghu-kongjian-0 .main-li:hover, #yonghu-kongjian-0 .touXiangQv:hover {
	cursor:pointer;
	box-shadow: 3px 3px 7px #888888;
}
#yonghu-kongjian-0-wrapper {
	padding:30px 30px 170px 30px;
	min-height:300px;
}
#yonghu-kongjian-0-wrapper-h1 {
	font-size:20px;
	font-weight:normal;
	text-align:center;
	margin-top:161px;
	margin-bottom:30px;
	font-weight:700;
}

/*
page-zhuYe
*/
#zhuYe {
	
}
#zhuYe h2 {
	font-size:52px;
	margin-bottom:35px;
}

#zhuYe > section {
	position:relative;
	margin-bottom:50px;
}
#zhuYe > section.end {
	position:relative;
	margin-bottom:0;
}

#zhuYe .decoration {
	box-shadow: 0 0 30px #333;
}
#zhuYe .decorationWidthPadding {
	padding:30px;
	box-shadow: 0 0 30px #333;
}

/*
page-geRenKongJian
*/
#geRenKongJian {
	
}

/*
section-gengXin-index
*/
#gengXin-index ul {
	list-style-type:none;
}
#gengXin-index ul li {
	padding:12px 0;
}

/*
section-yongHu-index
*/
#yongHu-index {
	position:relative;
}
#yongHu-index .aMain {
	display: block;
	text-decoration: none;
	color: black;
	height: 100%;
}
#yongHu-index .touXiang {
	width: 180px;
	height: 180px;
	display: block;
	padding: 10px;
}
#yongHu-index .touXiangQv {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 210px;
	height: 100%;
	margin: 0;
	text-align: left;
}
#yongHu-index h3 {
	font-size:30px;
	display:block;
	margin-bottom:15px;
}
#yongHu-index h3 a:hover {
	color: #333;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}
#yongHu-index h1 .separator {
	color:lightgray;
	font-size:20px;
	text-decoration: none;
}
#yongHu-index h3 .separator {
	font-size: 12px;
}
#yongHu-index p .separator {
	color:lightgray;
	font-size:12px;
	text-decoration: none;
	padding: 0 7px;
}
#yongHu-index .youJianTou {
	font-size:30px;
	position:absolute;
	right:-14px;
	top:0;
	height:200px;
	line-height:200px;
	font-weight:bold;
}
#yongHu-index .fuBiaoTi {
	font-size:20px;
}
#yongHu-index ul {
	list-style-type: none;
}
#yongHu-index ul li {
	position: relative;
	border-bottom: 1px dashed #dcdfe2;
	margin-bottom:15px;
}
#yongHu-index .content {
	position: relative;
	list-style-type: none;
	width: 100%;
	height: 200px;
	padding:45px 30px 0 255px;
	font-weight:500;
}
#yongHu-index .content p {
	position: relative;
	margin:0;
	padding:0;
	line-height:30px;
}

/*
transition-liangMei
*/
#transition-liangMei {
	height:90px;
	border-bottom:3px ridge lightgray;
	margin-bottom:15px;
}
#transition-liangMei .meinv {
	position:absolute;
	left:257px;
	top:-183px;
}

/*
transition-IP
*/
#transition-IP {
	position:relative;
	font-size:14px;
}
#transition-IP ul {
	width:270px;
	text-align:right;
}
#transition-IP li {
	display:inline-block;
	margin-top:5px;
}
#transition-IP ul h3 {
	font-size:32px;
	margin-bottom:11px;
}
#transition-IP ul p {
	font-size:14px;
}

/*
transition-shiZhong
*/
#transition-shiZhong {
	position:relative;
}
#transition-shiZhong .xiongYing {
	position:absolute;left:30px;bottom:0;
}
#transition-shiZhong .xiongYing:hover {

}

/*yonghu-ziliao-1*/
#yonghu-ziliao-1 {
	position:relative;
	width:100%;
	margin-top:30px;
}
#yonghu-ziliao-1 .wrapper {
	padding:30px;
}
#yonghu-ziliao-1 .shuoMing {
	position:absolute;
	left:0;
	top:0;
}
#yonghu-ziliao-1 .xingMing {
	font-size: 24px;
	color:black;
}
#yonghu-ziliao-1 .strong {
	font-size: 24px;
	margin-bottom: 15px;
	font-weight:700;
}
#yonghu-ziliao-1 img {
	display:block;
}
#yonghu-ziliao-1 ul {
	position:absolute;
	right:0;
	top:0;
	width:310px;
	list-style-type:none;
	min-height:256px;
	padding:0 0 0 50px; 
	font-size:14px;
}
#yonghu-ziliao-1 li {
	line-height:40px;
}
#yonghu-ziliao-1 li .ignore {
	line-height:30px;
}
#yonghu-ziliao-1 h1 {
	font-size:52px;
	font-weight:bold;
	text-align:center;
	margin-bottom:60px;
	margin-top:0px;
}