/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require font-awesome-4.3.0/css/font-awesome.min
*= require_self
*/

/*globle*/
[type=submit]:hover {
	cursor:pointer;
	   -moz-box-shadow: 0 0 1em #b2d1ff;
	-webkit-box-shadow: 0 0 1em #b2d1ff;
	        box-shadow: 0 0 1em #b2d1ff;
}
.borderBox {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.textAlignLeft {
	text-align:left !important;
}
.textAlignRight {
	text-align:right !important;
}
.defaultPage {
	position:relative;
	padding:30px;
}
.defaultBoxShadow {
	box-shadow: 3px 3px 7px #888888;
}
.h_100p {
	height:100%;
}
.floatLeft {
	float:left;
}
.floatRight {
	float:right;
}
.clearBoth {
	clear:both;
}
.separator {
	padding:0 11px;
}
.wrapper {
	position:relative;
	width:100%;
	height:100%;
}
.clearfix:after {
	content:"";
	display:block; 
	height:0; 
	visibility:hidden; 
	clear:both;
}
.moHu {
	color: transparent;
	text-shadow: 0 0 4px #f36;
}
.rotate {
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);	
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.miaoBian {
	color: #c00; 
}
.fuDiaoA {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 #374683;
}
.fuDiaoB {
	color: #737373;
	text-shadow: 0px 1px 0px #e5e5ee;
}
.tuBan {
	color: #222;
	text-shadow: 0px 2px 3px #555;
}
.liTi {
	color: #fff;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1),0 1px 3px rgba(0,0,0,0.3),0 3px 5px rgba(0,0,0,0.2),0 5px 10px rgba(0,0,0,0.25);
}
.minWidth {
	min-width:1024px;
}
.defaultButton {
	font-weight: 700;
	line-height: 30px;
	height: 30px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid rgba(0,0,0,.05);
	text-decoration: none;
	padding: 0 10px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	position: relative;
	display: inline-block;
	margin: 2px 0;
	background-color: #3A434D;
	color: #ddd;
}

/*main*/
#main {
	position:relative;
	min-height:100%;
	width:100%;
	margin:0 auto;
}
#main-wrapper {
	padding:70px 6px 150px 6px;
	position: relative;
	width: 80%;
	margin:0 auto;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/*spinner*/
#spinner {
	background-color:white;
	border:7px solid black;
    position: fixed;
	top: 0;
	left:0;
	bottom:0;
	right: 0;
	width:360px;
	height:180px;
	margin:auto;
	z-index:1000;
	display:none;
}
#spinner .tiShi{
	position:absolute;
	right:0;
	top:0;
	width:180px;
	height:180px;
	line-height:180px;
}
#spinner img {
	width:180px;
	height:180px;
}

/*main-footer*/
#main-footer {
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:135px;
	text-align:center;
	background-color: #232323;
	box-shadow: 0 0 11px #333;
	color: #ccc;
	overflow: hidden;
}
#main-footer ul {
	display:inline-block;
	margin:10px auto 0 auto;
}
#main-footer ol {
	display:inline-block;
	margin:0 auto;
}
#main-footer li {
	float:left;
	height:25px;
	line-height:25px;
	margin:0;
}
#main-footer a {
	color:#ccc;
}
#main-footer a:hover {
	color:white;
}
#main-footer .fa {
	padding-right:3px;
}
#main-footer .defaultButton {
	margin:2px 3px;
	background-color:white;
	color:#666666;
}
#main-footer .defaultButton:hover {
	color:black;
}
#main-footer img {
	position:absolute;
	top:0;
	height:90px;
	width:90px;
	margin:30px 30px 0 30px;
}
#main-footer img.geRen {
	right:0;
}
#main-footer img.gongZhong {
	left:0;
}

/*header*/
#main-header {
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	height:44px;
	line-height:44px;
	color:#fff;
	background-color: #232323;
	box-shadow: 0 0 23px #333;
	text-align: center;
	z-index:999;
	font-size: 20px;
	font-family: "微软雅黑", "宋体";
}
#main-header .fa {
	width:32px;
	font-size:20px;
	padding-right:6px;
}
#main-header ol {
	float:right;
	display:inline-block;
	height:100%;
}
#main-header ul {
	height:100%;
	float:left;
}
#main-header li {
	float:left;
	padding:0 20px;
	text-align:center;
	position:relative;
	height:100%;
}
#main-header a {
	color:white;
	font-weight:bold;
	font-size:18px;	
	text-decoration:none;
	display:block;
}
#main-header .wrapperBox:hover {
	background-color:white;
	color:#333;
}
#main-header .wrapperBox .link {
	display:block;
	text-align: center;
	font-weight:bold;
	font-size:18px;
}
#main-header .hiddenBox {
	position:absolute;
	z-index:999;
	text-align:left;
	background-color:white;
	color:#333;
}
#main-header .hiddenBox:after {
	content:"";
	display:block;
	position:absolute;
	left:-150px;
	top:0;
	width:150px; 
	height:500px;
}
#main-header .normalBox {
	left:0px;
	bottom:-300px;
	width:400px;
	height:300px;
	padding:30px 50px;
	font-size:14px;
}
#main-header .largeBox {
	left:0px;
	bottom:-500px;
	width:500px;
	height:500px;
	padding:30px 50px;
}
#main-header .customBox {
	left:0px;
	bottom:-460px;
	width:570px;
	height:460px;
	padding:30px 230px 40px 30px;
	font-size:14px;
}
#main-header .touXiangKongJian {
	position:absolute;
	right:30px;
	top:30px;
}
#main-header .hiddenBox form {
	position:relative;
	height:100%;
	width:100%;
}
#main-header .hiddenBox .xmessage {
	margin-bottom:0;
}
#main-header .hiddenBox [type=text], #main-header .hiddenBox [type=password], #main-header .hiddenBox [type=email]{
	width:100%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	border:1px solid lightgray;
	text-align:left;
	padding-left:10px;
}
#main-header .hiddenBox .youQingTiShi {
	position:absolute;
	left:0;
	bottom:0;
	line-height:20px;
	color:lightgray;
}
#main-header .hiddenBox select {
	padding-left:10px;
}
#main-header .hiddenBox [type=submit]{
	cursor:pointer;
	padding:5px 15px;
	margin:10px 0 0 0;
	font-weight:bold;
}
#main-header .hiddenBox [type=submit]:hover{
	color: black;
	   -moz-box-shadow: 0 0 1em #b2d1ff;
	-webkit-box-shadow: 0 0 1em #b2d1ff;
	        box-shadow: 0 0 1em #b2d1ff;
}
#main-header .hiddenBox .touXiangKongJian form {
	position:relative;
}
#main-header .hiddenBox .touXiangKongJian [type=file] {
	position:absolute;
	left:0;
	top:0;
	width:256px;
	height:30px;
	padding:0;
	margin:0;
	opacity:0.0;
	filter:Alpha(opacity=0);
	cursor:pointer;
}
#main-header .hiddenBox .touXiangKongJian .preview, #main-header .hiddenBox .touXiangKongJian .shangChuan {
	display:block;
	width:100%;
	height:30px;
	line-height:30px;
	text-align:center;
	padding:0;
	margin:0 0 11px 0;
	border: 1px solid #cccccc;
}
#main-header .hiddenBox .touXiangKongJian .preview {
	background-color: ghostwhite;
}
#main-header .hiddenBox .touXiangKongJian .shangChuan {
	background-color: ghostwhite;
}
#touXiangWrapper {
	width:180px;
	height:180sp;
	margin-bottom:10px;
}
#main-header .logo {
	height:32px;
	width:32px;
	vertical-align:middle;
	padding-right:10px;
}

/*
plugin-yongHuIP
*/
#yongHuIP ul {
	text-align:left;
}
#yongHuIP ul li {
	height:25px;
}
#yongHuIP ul li:first-child {
	margin-bottom:5px;
}

/*
plugin-kaTong
*/
#kaTong {
	width:200px;
	height:125px;
	margin:0 auto;
}
#kaTong .zhuangShi {
	position:absolute;
	left:109px;
	top:0;
	height:100px;
	width:auto;
}
#kaTong .dialog {
	position:absolute;left:61px;top:3px;display:none;
}
#kaTong .hanHua {
	position:absolute;left:21px;top:10px;font-weight:bold;
}

/*
plugin-shengXiao
*/
#shengXiao {
	position:relative;
	width:210px;
	height:180px;
}
#shengXiao-wrapper {
	position:relative;
	width:150px;
	height:150px;
	line-height:150px;
	text-align:center;
}
#shengXiao .wenHao {
	font-weight:700;
	font-size:70px;
}
#shengXiao .shengXiao {
	background-image: url("WangLuo/SuCai/十二生肖.png");
	width:150px;
	height:150px;
}
#shengXiao .zhongWen {
	position:absolute;
	right:-40px;
	top:0;
	font-weight:bold;
	display:block;
}
#shengXiao .shengXiao.shu {
	background-position:0 0;
}
#shengXiao .shengXiao.niu {
	background-position:-150px 0;
}
#shengXiao .shengXiao.hu {
	background-position:-300px 0;
}
#shengXiao .shengXiao.tu {
	background-position:-450px 0;
}
#shengXiao .shengXiao.long {
	background-position:0 -150px;
}
#shengXiao .shengXiao.she {
	background-position:-150px -150px;
}
#shengXiao .shengXiao.ma {
	background-position:-300px -150px;
}
#shengXiao .shengXiao.yang {
	background-position:-450px -150px;
}
#shengXiao .shengXiao.hou {
	background-position:0 -300px;
}
#shengXiao .shengXiao.ji {
	background-position:-150px -300px;
}
#shengXiao .shengXiao.gou {
	background-position:-300px -300px;
}
#shengXiao .shengXiao.zhu {
	background-position:-450px -300px;
}

/*
page-kongjian
*/
#kongjian .touXiangQv {
	position:absolute;
	left:0px;
	top:0px;
	min-width:250px;
	height:100%;
	margin:0;
	text-align:left;
}
#kongjian .touXiang {
	width:180px;
	height:180px;
	margin:0 auto;
	display:block;
	padding-top:25px;
}
#kongjian .touXiangQv h3 {
	font-weight:bold;
	display:block;
	margin-top:8px;
	padding:0 15px;
}
#kongjian .touXiangQv h4 {
	display:block;
	padding:0 15px 0 18px;
	margin-top:5px;
	font-weight:normal;
}
#kongjian .main-ul {
	position:relative;
	padding-left:250px;
	width:100%;
	min-height:290px;
}
#kongjian .main-li {
	float:left;
	width:100px;
	height:100px;
	margin:15px;
}
#kongjian .main-li .aList {
	width:100px;
	height:100px;
	display:block;
}
#kongjian .aMain {
	display:block;
	text-decoration: none;
	height:100%;
}
#kongjian .main-li:hover, #kongjian .touXiangQv:hover {
	cursor:pointer;
	box-shadow: 3px 3px 7px #888888;
}
#kongjian-wrapper {
	padding:30px 30px 170px 30px;
	min-height:300px;
}
#kongjian-wrapper-h1 {
	font-weight:normal;
	text-align:center;
	margin-top:161px;
	margin-bottom:30px;
	font-weight:700;
}

/*
section-gengXin-index
*/
#gengXin-index ul li {
	padding:12px 0;
}

/*
section-yongHu-index
*/
#yongHu-index {
	position:relative;
}
#yongHu-index .aMain {
	display: block;
	text-decoration: none;
	color: black;
	height: 100%;
}
#yongHu-index .touXiang {
	width: 150px;
	height: 150px;
	display: block;
	padding: 10px;
}
#yongHu-index .touXiangQv {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 210px;
	height: 100%;
	margin: 0;
	text-align: left;
}
#yongHu-index h3 {
	display: block;
	margin-bottom: 12px;
}
#yongHu-index h3 a:hover {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
#yongHu-index h1 .separator {
	color:lightgray;
	text-decoration: none;
}
#yongHu-index p .separator {
	color:lightgray;
	text-decoration: none;
	padding: 0 7px;
}
#yongHu-index .youJianTou {
	position:absolute;
	right:-14px;
	top:0;
	height:200px;
	line-height:200px;
	font-weight:bold;
}
#yongHu-index ul li {
	position: relative;
	border-bottom: 1px dashed #dcdfe2;
	margin-bottom:15px;
}
#yongHu-index .content {
	position: relative;
	width: 100%;
	height: 170px;
	padding: 45px 30px 0 255px;
	font-weight: 500;
}
#yongHu-index .content p {
	position: relative;
	margin:0;
	padding:0;
	line-height:24px;
}
/*yonghu-ziliao-1*/
#yonghu-ziliao-1 {
	position:relative;
	width:100%;
	margin-top:30px;
}
#yonghu-ziliao-1 .wrapper {
	padding:0;
}
#yonghu-ziliao-1 .shuoMing {
	position:absolute;
	left:0;
	top:0;
}
#yonghu-ziliao-1 .xingMing {
	color:black;
	letter-spacing: 3px;
	text-align:center;
}
#yonghu-ziliao-1 .strong {
	margin-bottom: 15px;
}
#yonghu-ziliao-1 img {
	display:block;
	padding-left:150px;
}
#yonghu-ziliao-1 ul {
	position: absolute;
	right: 0;
	top: 0;
	width: 300px;
	min-height: 256px;
	padding: 0 0 0 50px;
}
#yonghu-ziliao-1 li {
	line-height:45px;
}
#yonghu-ziliao-1 li .ignore {
	line-height:30px;
}

/*plugin-tuPianYaSuo*/
#tuPianYaSuo form {
	position:relative;
	min-height:256px;
	width:256px;
	margin-left:auto;
}
#tuPianYaSuo [type=file] {
	position:absolute;
	left:0;
	top:0;
	width:255px;
	height:30px;
	padding:0;
	margin:0;
	opacity:0.0;
	filter:Alpha(opacity=0);
	cursor:pointer;
}
#tuPianYaSuo .tuPianXuanZe, #tuPianYaSuo .tuPianShangChuan, #tuPianYaSuo .tuPianXiaZai {
	display: inline-block;
	width:255px;
	height:30px;
	line-height:30px;
	text-align:center;
	padding:0;
	margin:0 0 11px 0;
	border: 1px solid #cccccc;
	background-color: ghostwhite;
	color:black;
}
#tuPianYaSuo .tuPianWrapper {
	position:absolute;
	left:0;
	top:0;
	width:625px;
	height: 100%;
	line-height:303px;
	text-align:center;
	border: 1px solid #cccccc;
}
#tuPianYaSuo .tuPianWrapper img {
	width:256px;
	height:256px;
	display:block;
	margin:22px auto 0 auto;
}
#tuPianYaSuo [type=text] {
	width:116px;
	margin-bottom:10px;
}
#tuPianYaSuo ul {
	width:100%;
	margin-left:auto;
	border: 1px solid #cccccc;
	padding:25px 0 15px 0;
}
#tuPianYaSuo li span {
	display:inline-block;
	width:62px;
	margin-bottom:10px;
	text-align:center;
}
#tuPianYaSuo li span.long {
	width:105px;
}
#tuPianYaSuo .tuPianXiaZai {
	background-color:cadetblue;
	text-decoration:none;
}
/*page-showWenZhang*/
#show-wenZhang .biaoTi {
	text-align: center;
	font-weight: bold;
	display:block;
	font-size:24px;
}
#show-wenZhang .neiRong {
	line-height:24px;
	margin:30px 0 80px 0;
}
#show-wenZhang .fuBiaoTi {
	display:inline-block;
	color:darkblue;
	font-weight:bold;
}

/*整合*/
.defaultPage .tuZhang {
	float:right;
	text-align:right;
	padding:7px;
	border: 1px solid lightgray;
	box-shadow: 1px 1px 3px #333 inset;
	-webkit-transform: rotate(-15deg); 
	-moz-transform: rotate(-15deg);	
	-o-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	transform: rotate(-15deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	color: black;
	font-weight:bold;
}
.defaultPage h3 {
	margin-bottom:25px;
	font-size:20px;
}
.defaultPage > section.end {
	position:relative;
	margin-bottom:0;
}
.defaultPage .decorationWidthPadding {
	padding:30px;
}
.defaultPage [type=submit] {
	padding: 10px 61px;
	background-color: black;
	color: lavender;
	margin:10px 0 0 0;
	float:right;
}
.defaultPage .tiShi {
	line-height: 60px;
	height: 50px;
	width: 77%;
	float:left;
}
.defaultPage .neiRong, .defaultPage .biaoTi {
	font-weight:bold;
	font-size:16px;
}
.guanJianCi {
	font-weight:bold;
	color:darkred;
	font-size:16px;
}
.yongHu {
	font-size:20px;
	font-weight:bold;
}
/*---------------------------------------------------------------------------------------------------------------------*/

/*geRenWenZhang/shuoshuo-0*/
#geRenWenZhang, #yonghu-shuoshuo-0 {
	margin-top:30px;
}
#wenZhang-index li, #shuoShuo-index li, #shiJie-index li {
	margin-bottom: 20px;
}
#shiJie-index .biaoTi {
	color:darkred;
}
.kongJianWrapper {
	position:relative;
	margin:15px 0 30px 0;
}

.defaultPage > section {
	position:relative;
	border-bottom: 1px dashed #dcdfe2;
}