.hello-world {
	font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	background: url("WangLuo/QiTa/header-bg-nav.png") 0px -38px repeat-x;
	
	border-width:3px;
	border-style:outset;
	
	
	border-color:#99c3f7;
	background-color:#f5f8fa;
	box-shadow:1px 1px 2px #b3e8fe;
	
	
	box-shadow: 0px 3px 6px #888888;
	
	border:3px ridge lightgray;
	
	1animation:logoZaiXingDong 7s ease;
	1-moz-animation:logoZaiXingDong 7s ease; /* Firefox */
	1-webkit-animation:logoZaiXingDong 7s ease; /* Safari and Chrome */
	1-o-animation:logoZaiXingDong 7s ease; /* Opera */
	
	
}

/* HTML5 */
@font-face {
	font-family: 'YA_HEI';
	src: url('fonts/SIMHEI.TTF');
}


#transition-1 .xiongYing:hover {
	1animation:rightToLeft 7s ease;
	1-moz-animation:rightToLeft 7s ease; /* Firefox */
	1-webkit-animation:rightToLeft 7s ease; /* Safari and Chrome */
	1-o-animation:rightToLeft 7s ease; /* Opera */
}